# cache
.agent.md
.vscode
.env
*.pyc
*.jsonl
*.wav
*.zst
*.tgz
*.tar
*.bin
*.backup
*.db
*.whl
sglang-dashboard.json
qwen3-0.6b-eagle3.json

# devs
cache/
volume/
dev/
tmp/

# custom
dev.md
dev.py
dev-*
models--*
issue-*