services:
  node0:
    image: lmsysorg/sglang:latest-runtime
    privileged: true
    shm_size: '4gb'
    network_mode: "host"
    environment:
      - NCCL_DEBUG=INFO
      - NCCL_SOCKET_IFNAME=lo
      - NCCL_P2P_DISABLE=1
      - NCCL_SHM_DISABLE=1
      - NCCL_IB_DISABLE=1
      - NCCL_NET_GDR_LEVEL=0
      - CUDA_VISIBLE_DEVICES=0
      - NCCL_CUMEM_ENABLE=0
    volumes:
      - hf_cache:/root/.cache/huggingface
    command: >
      bash -c "NCCL_DEBUG=WARN python3 -m sglang.launch_server
      --model-path google/gemma-3-1b-it-qat-q4_0-unquantized
      --tp 2
      --dist-init-addr 127.0.0.1:40000
      --nnodes 2
      --node-rank 0
      --port 30000
      --attention-backend flashinfer
      --dtype bfloat16
      --mem-fraction-static 0.2
      --context-length 2048
      --max-total-tokens 2048
      --max-prefill-tokens 512
      --chunked-prefill-size 512
      --trust-remote-code"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
  node1:
    image: lmsysorg/sglang:latest-runtime
    container_name: sgl-node1
    privileged: true
    shm_size: '4gb'
    network_mode: "host"
    environment:
      - NCCL_DEBUG=INFO
      - NCCL_SOCKET_IFNAME=lo
      - NCCL_P2P_DISABLE=1
      - NCCL_SHM_DISABLE=1
      - NCCL_IB_DISABLE=1
      - NCCL_NET_GDR_LEVEL=0
      - CUDA_VISIBLE_DEVICES=0
      - NCCL_CUMEM_ENABLE=0
    volumes:
      - hf_cache:/root/.cache/huggingface
    command: >
      bash -c "NCCL_DEBUG=WARN python3 -m sglang.launch_server
      --model-path google/gemma-3-1b-it-qat-q4_0-unquantized
      --tp 2
      --dist-init-addr 127.0.0.1:40000
      --nnodes 2
      --node-rank 1
      --port 30001
      --attention-backend flashinfer
      --dtype bfloat16
      --mem-fraction-static 0.2
      --context-length 2048
      --max-total-tokens 2048
      --max-prefill-tokens 512
      --chunked-prefill-size 512
      --trust-remote-code"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

volumes:
  hf_cache:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${HOME}/.cache/huggingface

networks:
  sglang-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16