services:
  sglang-chat-prefill:
    image: lmsysorg/sglang:latest-runtime
    container_name: sglang-chat-prefill
    volumes:
      - hf_cache:/root/.cache/huggingface
      - fi_cache:/root/.cache/flashinfer
      - tt_cache:/root/.triton
    restart: always
    privileged: false
    entrypoint: python3 -m sglang.launch_server
    command: >
      --model-path google/gemma-3-270m-it-qat-q4_0-unquantized
      --disaggregation-mode prefill
      --host 0.0.0.0
      --port 30000
      --attention-backend flashinfer
      --dtype bfloat16
      --mem-fraction-static 0.08
      --max-total-tokens 2048
      --max-prefill-tokens 512
      --chunked-prefill-size 512
    ulimits:
      memlock: -1
      stack: 67108864
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:30000/health || exit 1"]
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    networks:
      - sglang-network

  sglang-chat-decode:
    image: lmsysorg/sglang:latest-runtime
    container_name: sglang-chat-decode
    volumes:
      - hf_cache:/root/.cache/huggingface
      - fi_cache:/root/.cache/flashinfer
      - tt_cache:/root/.triton
    restart: always
    privileged: false
    entrypoint: python3 -m sglang.launch_server
    command: >
      --model-path google/gemma-3-270m-it-qat-q4_0-unquantized
      --disaggregation-mode decode
      --host 0.0.0.0
      --port 30000
      --attention-backend flashinfer
      --dtype bfloat16
      --mem-fraction-static 0.08
      --max-total-tokens 2048
      --max-prefill-tokens 512
      --chunked-prefill-size 512
    ulimits:
      memlock: -1
      stack: 67108864
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:30000/health || exit 1"]
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    networks:
      - sglang-network

  sglang-chat-router:
    image: lmsysorg/sglang:latest-runtime
    container_name: sglang-chat-router
    restart: always
    privileged: false
    ports:
      - 30000:30000
    entrypoint: python3 -m sglang_router.launch_router
    command: >
      --pd-disaggregation
      --prefill http://sglang-chat-prefill:30000
      --decode http://sglang-chat-decode:30000
      --host 0.0.0.0
      --port 30000
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:30000/health || exit 1"]
    depends_on:
      sglang-chat-prefill:
        condition: service_healthy
      sglang-chat-decode:
        condition: service_healthy
    networks:
      - sglang-network

volumes:
  hf_cache:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${HOME}/.cache/huggingface
  fi_cache:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: volume/flashinfer
  tt_cache:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: volume/triton

networks:
  sglang-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16